<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
    
    <ion-tab-button tab="favoritos">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio">
      <ion-icon name="dice"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="postear">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Añadir</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="chats">
      <ion-icon name="chatbubble"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
