ion-header ion-toolbar ion-title {
    text-align: center;
}
  
ion-segment-button::part(indicator-background) {
    background: #ac00d7;
  }
  
  .segment-button-checked.md::part(native) {
    color: #ac00d7;
  }
  
  ion-segment-button.md::part(indicator-background) {
    height: 5px;
  }