ion-header ion-toolbar ion-title {
  text-align: center;
}

ion-segment-button::part(indicator-background) {
  background: var(--ion-color-tertiary);
  font-weight: bold;
}

.segment-button-checked.md::part(native) {
  color: var(--ion-color-dark);
}

ion-segment-button.md::part(indicator-background) {
  height: 5px;
}

.segment-wrapper {
  display: flex;
  align-items: center;
}