<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <ion-icon name="dice-outline"></ion-icon>
      REROLL
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/buscador']">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- ARTÍCULOS -->
  <app-articulos *ngIf="articulos" [articulos]="articulos"></app-articulos>

  <!-- INFINITE SCROLL -->
  <ion-infinite-scroll [disabled]="estadoInfiniteScroll" threshold="150px" (ionInfinite)="scroll($event)">
    <ion-infinite-scroll-content  loadingText="Cargando..." loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
