<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="estadisticas">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reportes">
      <ion-icon name="flag"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="signup-admin">
      <ion-icon name="shield-checkmark"></ion-icon>
      <ion-label>Registro</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="perfil-admin">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
