<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Chat</ion-title>
    <ion-back-button defaultHref="" (click)="goBack()" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <ion-item *ngFor="let mensaje of mensajes">
      <ion-label>{{ mensaje.texto }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-content>
  <ion-list>
    <ion-item *ngFor="let mensaje of mensajes" 
    [ngClass]="{'sent-message': mensaje.usuario === chat.usuario1?._id ||  mensaje.usuario === chat.usuario2?._id, 
                'received-message': mensaje.usuario === chat.usuario1?._id ||  mensaje.usuario === chat.usuario2?._id}">
      <div class="message-bubble">{{ mensaje.texto }}</div>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="nuevoMensaje" placeholder="Escribe un mensaje"></ion-input>
    <ion-fab-button slot="end" size="small" color="tertiary" (click)="enviarMensaje()">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="nuevoMensaje" placeholder="Escribe un mensaje"></ion-input>
    <ion-button expand="block" (click)="enviarMensaje()">Enviar</ion-button>
  </ion-toolbar>
</ion-footer> -->


<!-- <ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/chats"></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list 
    lines="none" 
    *ngIf="(chats) as chat$">
    <ion-item-group class="chats-group" *ngFor="let chat of chats">
      <app-chat-box [chat]="chat" [current_user_id]="currentUserId"></app-chat-box>
    </ion-item-group>
  </ion-list>

</ion-content> -->

<!-- <ion-footer>
  <ion-toolbar color="light">
    <ion-textarea 
      autoGrow 
      rows="1" 
      placeholder="Mensaje" >
    </ion-textarea>
    <ion-buttons slot="end">
      <ion-fab-button size="small" color="tertiary" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="primary">
        <ion-spinner name="crescent" color="white"></ion-spinner>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
