ion-header ion-toolbar ion-title {
    text-align: center;
}

ion-content {
    ion-list {
        // background: transparent;
        margin-top: 5px;
    }
}

ion-footer {
    ion-toolbar {
        padding: 0 3px;

        ion-textarea {
            border: 1px solid var(--ion-color-medium);
            border-radius: 20px;
            margin: 0.5vh 0;
            left: 5px;
            padding-left: 12px;
        }
    }
}

ion-footer ion-toolbar ion-buttons {
    padding-left: 7px;
    margin-right: 0px;
}

.posicion-title {
    padding-right: 0;
}

.color-icono {
    color: white;
}

// SALA CHAT
/* Estilos para la sala de chat */
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.chat-message {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    width: 100%;
}

.chat-message.enviado {
    justify-content: flex-end;
}

.chat-message.recibido {
    justify-content: flex-start;
}

.chat-message .message-bubble {
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    max-width: 70%;
    // font-weight: bold;
}

.chat-message.enviado .message-bubble {
    background-color: var(--ion-color-tertiary);
    align-self: flex-end;
}

.chat-message.recibido .message-bubble {
    background-color: var(--ion-color-medium);
    align-self: flex-start;
}

.chat-message .message-bubble p {
    margin: 0;
}

.chat-message.enviado .message-bubble p {
    text-align: right;
}

.chat-message.recibido .message-bubble p {
    text-align: left;
}