ion-header ion-toolbar ion-title {
    text-align: center;
}

ion-content {
    ion-list {
        background: transparent;
    }
}
ion-footer {
    ion-toolbar {
        padding: 0 3px;
        ion-textarea {
            border: 1px solid var(--ion-color-medium);
            border-radius: 20px;
            margin: 0.5vh 0;
            left: 5px;
            padding-left: 12px;
        }
    }
}

ion-footer ion-toolbar ion-buttons {
    padding-left: 7px;
    margin-right: 0px;
}

.sent-message {
    text-align: right;
    background-color: #DCF8C6;
  }
  
  .received-message {
    text-align: left;
    background-color: #E8E8E8;
  }
  
  .message-bubble {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
  }
  