<ion-card (click)="articulo._id !== undefined && irAlArticulo(articulo._id)"> 
  <ion-img *ngIf="articulo" [src]="articulo.galeria?.[0]"></ion-img>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="9">
        <ion-card-header>
          <ion-card-title>{{articulo.precio}}€</ion-card-title>
          <ion-card-subtitle>{{articulo.nombre}}</ion-card-subtitle>
        </ion-card-header>
      </ion-col>
      <ion-col size="3" class="ion-text-end">
        <ion-button *ngIf="usuario._id !== articulo.usuario?._id" shape="round" size="large" fill="clear" color="light" (click)="favorito($event)">
          <ion-icon slot="icon-only" [name]="esFavorito ? 'heart' : 'heart-outline'"
            [color]="esFavorito ? 'danger' : 'dark'"></ion-icon>
        </ion-button>
        <ion-button *ngIf="usuario._id === articulo.usuario?._id" shape="round" size="large" fill="clear" color="light" disabled="deshabilitado">
          <ion-icon slot="icon-only" name="person" color="dark"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>