<div class="articulo">

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="/assets/avatars/{{ articulo.usuario?.avatar }}">
    </ion-avatar>

    <ion-label>
      <h2>{{ articulo.usuario?.nombre }} {{ articulo.usuario?.apellidos }}</h2>
    </ion-label>
  
  </ion-item>

  <!-- Imágenes -->
  <ion-slides pager="true" *ngIf="articulo && articulo.galeria && articulo.galeria.length > 1">
    <!-- Variante usando la pipe DomSanitizer -->
    <ion-slide class="image-slide"
                *ngFor="let img of articulo.galeria"
                [style.background-image]="(img | imagen: articulo.usuario?._id ?? '') | domSanitazer">
    </ion-slide>

  </ion-slides>

  <ion-slides *ngIf="articulo && articulo.galeria && articulo.galeria.length === 1" [options]="blockSlide">
    <!-- Variante usando la pipe DomSanitizer -->
    <ion-slide class="image-slide"
                *ngFor="let img of articulo.galeria"
                [style.background-image]="(articulo.galeria[0] | imagen: articulo.usuario?._id ?? '') | domSanitazer">
    </ion-slide>
    
  </ion-slides>

  <!-- Mapa -->
  <!-- <app-mapa *ngIf="articulo.coords" [coords]="articulo.coords"></app-mapa> -->
  <!-- <ng-container *ngIf="articulo.localizacion">
    <app-mapa [localizacion]="articulo.localizacion"></app-mapa>
  </ng-container> -->

  <ion-item lines="none">
    <ion-button slot="end" color="tertiary">
      <ion-icon slot="icon-only" name="heart-outline" *ngIf="esFavorito" color="danger"></ion-icon>
  </ion-button>

    <h3>
      {{ articulo.precio }}€
    </h3>
  </ion-item>

  <ion-item lines="none">
    <h5>
      {{ articulo.nombre }}
    </h5>
  </ion-item>


  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="tertiary" (click)="favorito()">
      <ion-icon [name]="esFavorito ? 'heart' : 'heart-outline'" [color]="esFavorito ? 'danger' : 'dark'"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->


</div>