<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row class="top-20">

    <ion-col size="12" class="ion-text-center">
      <img src="assets/avatars/{{usuario.avatar}}" class="img-avatar">
    </ion-col>

  </ion-row>

  <ion-row class="top-20">
    <ion-col size="12" class="ion-text-center">
      <ion-label>
        <h1>{{ usuario.nombre }} {{ usuario.apellidos }}</h1>
      </ion-label>
    </ion-col>
  </ion-row>

  <!-- <ion-row style="margin-top: 30px;">
    <ion-col class="ion-text-center">
      <ion-button type="submit"
                  color="tertiary"
                  shape="round"
                  [routerLink]="['/user/perfil/actualiza-perfil']">
        Editar perfil
      </ion-button>
    </ion-col>

    <ion-col class="ion-text-center">
      <ion-button type="submit"
                  color="tertiary"
                  shape="round"
                  (click)="logout()">
        Cerrar sesión
      </ion-button>
    </ion-col>
  </ion-row> -->

    <ion-button type="submit" color="tertiary" expand="full" class="btn-perfil" [routerLink]="['/user/perfil/actualiza-perfil']">
      Editar perfil
    </ion-button>

    <ion-button type="submit" color="tertiary" expand="full" class="btn-perfil">
      Mis artículos
    </ion-button>

    <ion-button type="submit" color="danger" expand="full" class="btn-perfil" (click)="logout()">
      Cerrar sesión
    </ion-button>

</ion-content>