<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row class="top-20">
    
    <ion-col size="12" class="ion-text-center">
      <img src="assets/avatars/{{admin.avatar}}" class="img-avatar">
    </ion-col>

  </ion-row>

  <ion-row class="top-20">
    <ion-col size="12" class="ion-text-center">
      <ion-label>
        <h1>Mi perfil</h1>
      </ion-label>
    </ion-col>
  </ion-row>
      
  <ion-row style="margin-top: 30px;">
    <ion-col class="ion-text-center">
      <ion-button type="submit"
                  color="tertiary"
                  shape="round"
                  [routerLink]="['/admin/perfil-admin/actualiza-perfil-admin']">
        Editar perfil
      </ion-button>
    </ion-col>

    <ion-col class="ion-text-center">
      <ion-button type="submit"
                  color="tertiary"
                  shape="round"
                  (click)="logout()">
        Cerrar sesión
      </ion-button>
    </ion-col>
  </ion-row>
    


</ion-content>

