<!-- <ion-grid fixed>
  <ion-row>
      <ion-col size="12" sizeLg="3" sizeMd="4" sizeSm="6" sizeXs="12"
          *ngFor="let articulo of articulos">
          <app-articulo [articulo]="articulo"></app-articulo>
      </ion-col>
  </ion-row>
</ion-grid> -->

<ion-grid fixed>
  <ion-row>
      <ion-col size="12" sizeLg="3" sizeMd="4" sizeSm="6" sizeXs="12"
          *ngFor="let articulo of articulos">
          <ion-card (click)="articulo._id !== undefined && irAlArticulo(articulo._id)"> <!--  + articulo._id -->
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"/>
            <ion-grid>
              <ion-row align-items-center>
                <ion-col size="9">
                  <ion-card-header>
                    <ion-card-title>{{articulo.precio}}€</ion-card-title>
                    <ion-card-subtitle>{{articulo.nombre}}</ion-card-subtitle>
                  </ion-card-header>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                  <ion-button shape="round" size="large" fill="clear" color="light" (click)="favorito()">
                    <ion-icon slot="icon-only" [name]="esFavorito ? 'heart' : 'heart-outline'" [color]="esFavorito ? 'danger' : 'dark'"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>
