<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">
      Registro de administrador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <ion-grid fixed>
    <div class="form-container">
      <form [formGroup]="formSignup" (ngSubmit)="signup(formSignup)"><!-- (ngSubmit)="valorFormulario()" -->
        <ion-row>
          <ion-col>
            <ion-list lines="none" class="ion-margin">
              <!-- Avatar selector -->
              <app-avatar-selector
                (avatarSeleccionado)="formSignup.get('avatar')?.setValue($event)"></app-avatar-selector>

              <ion-item class="ion-align-items-center">
                <!-- <ion-label class="label-form">Nombre:</ion-label> -->
                <ion-icon name="person-outline" slot="end" color="medium">
                </ion-icon>
                <ion-input type="text" placeholder="Nombre" class="form-control" formControlName="nombre"
                  [clearInput]="true"></ion-input>
              </ion-item>
              <ion-text class="ion-text-left" color="danger"
                *ngIf="!formSignup.get('nombre')?.valid && formSignup.get('nombre')?.touched">
                <p class="error">* Por favor, indique su nombre</p>
              </ion-text>

              <ion-item class="ion-align-items-center">
                <!-- <ion-label class="label-form">Apellidos:</ion-label> -->
                <ion-icon name="person-outline" slot="end" color="medium">
                </ion-icon>
                <ion-input type="text" placeholder="Apellidos" class="form-control" formControlName="apellidos"
                  [clearInput]="true"></ion-input>
              </ion-item>
              <ion-text class="ion-text-left" color="danger"
                *ngIf="!formSignup.get('apeliidos')?.valid && formSignup.get('apeliidos')?.touched">
                <p class="error">* Por favor, indique sus apeliidos</p>
              </ion-text>

              <ion-item class="ion-align-items-center">
                <!-- <ion-label class="label-form">Email:</ion-label> -->
                <ion-icon name="mail-outline" slot="end" color="medium">
                </ion-icon>
                <ion-input type="email" placeholder="Email" class="form-control" formControlName="email"
                  [clearInput]="true"></ion-input>
              </ion-item>
              <ion-text class="ion-text-left" color="danger"
                *ngIf="!formSignup.get('email')?.valid && formSignup.get('email')?.touched">
                <p class="error">* Por favor, indique un email válido</p>
              </ion-text>
              <ion-text class="ion-text-left" color="danger"
                *ngIf="formSignup.get('email')?.hasError('emailAdminNoValido')">
                <p class="error">* Email inválido. No se permiten direcciones de correo que terminen en "@admin.com"</p>
              </ion-text>

              <ion-item class="ion-align-items-center">
                <!-- <ion-label class="label-form">Contraseña:</ion-label> -->
                <ion-icon (click)="onChange()" [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'"
                  slot="end" [color]="isTypePassword ? 'medium' : 'primary'">
                </ion-icon>
                <ion-input type="password" placeholder="Contraseña" class="form-control" formControlName="password"
                  [type]="isTypePassword ? 'password' : 'text'" [clearInput]="true"></ion-input>
                <!-- <ion-input 
                formControlName="password" 
                [type]="isTypePassword ? 'password' : 'text'"
                placeholder="Enter Password">
              </ion-input> -->
              </ion-item>
              <ion-text class="ion-text-left" color="danger"
                *ngIf="!formSignup.get('password')?.valid && formSignup.get('password')?.touched">
                <p class="error" *ngIf="formSignup.get('password')?.invalid || formSignup.get('password')?.dirty">
                  * Por favor, introduce una contraseña de al menos 6 caracteres
                </p>
              </ion-text>

              <ion-item class="ion-align-items-center">
                <ion-label class="label-form" class="label-form-fecha">Fecha de nacimiento:</ion-label>
                <ion-input type="date" placeholder="Fecha de nacimiento" class="form-control"
                  formControlName="nacimiento"></ion-input>
              </ion-item>
              <ion-text class="ion-text-left" color="danger"
                *ngIf="!formSignup.get('nacimiento')?.valid && formSignup.get('nacimiento')?.touched">
                <p class="error">* Por favor, indique su fecha de nacimiento</p>
              </ion-text>

              <ion-item>
                <ion-select placeholder="Sexo" class="form-control" formControlName="sexo">
                  <ion-select-option value="Hombre">Hombre</ion-select-option>
                  <ion-select-option value="Mujer">Mujer</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item class="ion-align-items-center">
                <!-- <ion-label class="label-form">Dirección:</ion-label> -->
                <ion-icon name="location-outline" slot="end" color="medium"></ion-icon>
                <ion-input type="text" placeholder="Dirección" class="form-control" formControlName="direccion"
                  [clearInput]="true" #autocompleteAddres></ion-input>
              </ion-item>
              <ion-text class="ion-text-left" color="danger"
                *ngIf="!formSignup.get('direccion')?.valid && formSignup.get('direccion')?.touched">
                <p class="error">* Por favor, indique su dirección</p>
              </ion-text>

              <ion-item class="ion-align-items-center">
                <!-- <ion-label class="label-form">Ciudad:</ion-label> -->
                <ion-input type="text" placeholder="Ciudad" class="form-control" formControlName="ciudad"
                  [clearInput]="true" #autocompleteCity></ion-input>
              </ion-item>
              <ion-text class="ion-text-left" color="danger"
                *ngIf="!formSignup.get('ciudad')?.valid && formSignup.get('ciudad')?.touched">
                <p class="error">* Por favor, indique su ciudad</p>
              </ion-text>

              <ion-item class="ion-align-items-center">
                <!-- <ion-label class="label-form">Localidad:</ion-label> -->
                <ion-input type="text" placeholder="Localidad" class="form-control" formControlName="localidad"
                  [clearInput]="true" #autocompleteTown></ion-input>
              </ion-item>
              <ion-text class="ion-text-left" color="danger"
                *ngIf="!formSignup.get('localidad')?.valid && formSignup.get('localidad')?.touched">
                <p class="error">* Por favor, indique su localidad</p>
              </ion-text>

              <ion-item class="ion-align-items-center">
                <!-- <ion-label class="label-form">País:</ion-label> -->
                <ion-input type="text" placeholder="País" class="form-control" formControlName="pais"
                  [clearInput]="true" #autocompleteCountry></ion-input>
              </ion-item>
              <ion-text class="ion-text-left" color="danger"
                *ngIf="!formSignup.get('pais')?.valid && formSignup.get('pais')?.touched">
                <p class="error">* Por favor, indique su país</p>
              </ion-text>

              <ion-item class="ion-align-items-center">
                <!-- <ion-label class="label-form">Código postal:</ion-label> -->
                <ion-input type="number" placeholder="Código postal" class="form-control" formControlName="cp"
                  [clearInput]="true" #autocompletePostal></ion-input>
              </ion-item>
              <ion-text class="ion-text-left" color="danger"
                *ngIf="!formSignup.get('cp')?.valid && formSignup.get('cp')?.touched">
                <p class="error">* Por favor, indique su código postal</p>
              </ion-text>

              <ion-row class="ion-margin-vertical">
                <ion-col size="12" class="alignItems">
                  <div class="ion-text-start">
                    <ion-checkbox formControlName="checkbox"></ion-checkbox>
                    <ion-label class="terminos">
                      <ion-note>
                        Acepto la política de privacidad y las condiciones de uso
                      </ion-note>
                    </ion-label>
                    <ion-text class="ion-text-left" color="danger" *ngIf="!formSignup.get('checkbox')?.valid">
                      <p class="error">* Es obligatorio aceptar la política de privacidad y las condiciones de uso</p>
                    </ion-text>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row class="btn-crear-usuario">
                <ion-col>
                  <ion-button type="submit" color="tertiary" shape="round">Registrarme</ion-button>
                </ion-col>
              </ion-row>

            </ion-list>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </ion-grid>
</ion-content>