ion-header ion-toolbar ion-title {
    text-align: center;
}

.card-header {
    padding-top: 0;
}

.card-header-button {
    margin-left: 300px;
}

.domicilio {
    color: rgb(0, 255, 0);
}

.en-mano {
    color: red;
}
  
  