<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Chats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="irAChat(chat._id)">
      <div class="avatar-container">
        <ion-avatar slot="start">
          <ion-img *ngIf="chat.articulo" [src]="chat.articulo.galeria?.[0]"></ion-img>
        </ion-avatar>
      </div>
      <ion-label>{{ chat.articulo?.nombre }}</ion-label>
      <!-- <ion-label>{{ getUltimoMensaje(chat) }}</ion-label> -->
      <ion-col size="3" class="ion-text-end">
        <ion-label>{{ getHoraUltimoMensaje(chat) }}</ion-label>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>

