ion-title {
    margin-left: 65px;
}

ion-buttons {
    justify-content: space-between;
}

// swiper {
//     height: 325px;
// }

a {
    color: var(--ion-color-dark);
    text-decoration: none;
}

.usuarioArticulo {
    margin-left: 15px;
}

.domicilio {
    color: rgb(0, 255, 0);
}

.en-mano {
    color: red;
}