<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons>
      <ion-back-button defaultHref="" (click)="goBack()" slot="start"></ion-back-button>
      <ion-button *ngIf="usuarioActual._id === articulo.usuario?._id" defaultHref="" (click)="eliminar()"
        slot="end">Eliminar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="articulo">
  <div class="articulo">

    <swiper [navigation]="true" [pagination]="{ clickable: true }">
      <ng-container *ngIf="articulo && articulo.galeria">
        <ng-template swiperSlide *ngFor="let imagen of articulo.galeria">
          <ion-img [src]="imagen" alt="Imagen del artículo"></ion-img>
        </ng-template>
      </ng-container>
    </swiper>

    <ion-item [color]="articulo.estado === 'En venta' ? 'success' : 
                        (articulo.estado === 'Reservado' ? 'warning' : 
                        (articulo.estado === 'Vendido' ? 'danger' : ''))">
      <ion-text class="texto-estado">{{ articulo.estado }}</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-button shape="round" size="default" fill="clear" slot="end" color="light" (click)="favorito()">
        <ion-icon slot="icon-only" [name]="esFavorito ? 'heart' : 'heart-outline'"
          [color]="esFavorito ? 'danger' : 'dark'"></ion-icon>
      </ion-button>

      <ion-text color="dark">
        <h1>{{ articulo.precio }}€</h1>
      </ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-text color="dark">
        <h4>{{ articulo.nombre }}</h4>
      </ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-button shape="round" size="default" fill="clear" slot="end" color="light">
        <ion-icon slot="icon-only" name="chatbubble" color="dark"></ion-icon>
      </ion-button>
      <!-- <a [routerLink]="['/user', articulo.usuario?._id]"> -->
      <a (click)="articulo.usuario && irAUsuario(articulo.usuario)">
        <ion-avatar slot="start">
          <img src="/assets/avatars/{{ articulo.usuario?.avatar }}">
        </ion-avatar>
      </a>
      <!-- <a [routerLink]="['/user', articulo.usuario?._id]"> -->
      <a (click)="articulo.usuario && irAUsuario(articulo.usuario)">
        <ion-label class="usuarioArticulo">
          <ion-text>
            <h2>{{ articulo.usuario?.nombre }} {{ articulo.usuario?.apellidos }}</h2>
          </ion-text>
        </ion-label>
      </a>
    </ion-item>

    <ion-item lines="none">
      <ion-text>Categoría: &nbsp;</ion-text>
      <ion-text color="dark">{{ articulo.categoria }}</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-text>Descripción: &nbsp;</ion-text>
      <ion-text color="dark">{{ articulo.descripcion }}</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-text>Envío: &nbsp;</ion-text>
      <ion-text [ngClass]="{'domicilio': articulo.envio === 'Domicilio', 'en-mano': articulo.envio === 'En mano'}">{{ articulo.envio }}</ion-text>
    </ion-item>

    <ion-item lines="none">
      <!-- <ion-text>Ubicación: &nbsp;</ion-text> -->
      <div id="map" style="width: 100%; height: 300px;"></div>
    </ion-item>


  </div>
</ion-content>