<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="dice-outline"></ion-icon>
      REROLL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="articulo">
  <div class="articulo">
    <!-- Imágenes -->
      <!-- <ion-item lines="none"> -->
        <swiper [navigation]="true" [pagination]="{ clickable: true }">
          <ng-container *ngIf="articulo && articulo.galeria">
              <ng-template swiperSlide *ngFor="let imagen of articulo.galeria">
                <ion-img [src]="imagen" alt="Imagen del artículo"></ion-img>
              </ng-template>
          </ng-container>
        </swiper>
      <!-- </ion-item> -->

    <!-- <ion-img *ngIf="articulo" [src]="articulo.galeria?.[0]"></ion-img> -->

    <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->

    <ion-item [color]="articulo.estado === 'En venta' ? 'success' : 
                        (articulo.estado === 'Reservado' ? 'warning' : 
                        (articulo.estado === 'Vendido' ? 'danger' : ''))">
      <ion-text class="texto-estado">{{ articulo.estado }}</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-button shape="round" size="default" fill="clear" slot="end" color="light" (click)="favorito()">
        <ion-icon slot="icon-only" [name]="esFavorito ? 'heart' : 'heart-outline'"
          [color]="esFavorito ? 'danger' : 'dark'"></ion-icon>
      </ion-button>

      <ion-text color="dark">
        <h1>{{ articulo.precio }}€</h1>
      </ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-text color="dark">
        <h4>{{ articulo.nombre }}</h4>
      </ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-button shape="round" size="default" fill="clear" slot="end" color="light">
        <ion-icon slot="icon-only" name="chatbubble" color="dark"></ion-icon>
      </ion-button>

      <ion-avatar slot="start">
        <img src="/assets/avatars/{{ articulo.usuario?.avatar }}">
      </ion-avatar>

      <ion-label>
        <ion-text color="dark">
          <h2>{{ articulo.usuario?.nombre }} {{ articulo.usuario?.apellidos }}</h2>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-text color="dark">{{ articulo.categoria }}</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-text color="dark">{{ articulo.descripcion }}</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-text color="dark">Envío:&nbsp;</ion-text>
      <ion-text [ngClass]="{'domicilio': articulo.envio === 'Domicilio', 'en-mano': articulo.envio === 'En mano'}">{{
        articulo.envio }}</ion-text>
    </ion-item>


  </div>
</ion-content>