.img-avatar {
    width: 150px;
}

.top-20 {
    margin-top: 20px;
}

ion-header ion-toolbar ion-title {
    text-align: center;
}

ion-list {
    background: transparent;
    // transform: translateY(15vh);
    ion-item {
      border: 1px solid var(--ion-color-medium);
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    ion-row {
      margin-bottom: 5vh;
    }
    ion-button {
      width: 18vh;
      margin: auto;
    }
    .alignItems {
      ion-checkbox, ion-note {
        display: inline-block;
        vertical-align: middle;
      }
      ion-checkbox {
        margin-right: 3vw;
        --size: 1.1rem;
      }
    }
    
    ion-col {
      ion-note {
        font-size: 0.85rem;
      }
    }
  }
  
  .error {
    font-size: 0.75rem;
  }

  ion-radio-group ion-item {
    border: none !important;
  }

  ion-radio-group ion-item ion-label {
    margin-left: 10px !important;
  }

.btn {
  text-align: center;
}

.btn-delete {
  margin-bottom: 20px;
}